  <br>
  <div class="container contenedor-animes">
  <div class="row">
    <h1>ANIME</h1> 
    <div *ngIf="selected">
      <app-anime-detail [animeDetail]="selectedBAnime"></app-anime-detail>
      <hr>
    </div>
    <div></div>

    <div class="card" style="width: 18rem;"  *ngFor="let anime of animes">
      <p class="fw-bold">{{anime.name}}.</p>
        <img src={{anime.img}}  alt="anime image" width=200px>
        <p>⭐{{anime.Rating}} <b>Categories: </b>{{anime.categorie}}</p>
        <button type="button" class="btn btn-primary" href="#" (click)="onSelected(anime)">More information</button>
        <hr>
   </div>
  </div>
</div>
